footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  height: 302px;
  font-size: 14px;
}

.footer-card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer p {
  text-align: center;
  padding: 35px;
}

.footer-card-info ul {
  padding-top: 28px;
  padding-bottom: 30px;
  text-align: center;
}

@media (min-width: 568px) {
  footer {
    padding-left: 105px;
    padding-right: 105px;
  }

  .footer-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 65px 105px 0 105px;
  }
}
